data filter=lfs diff=lfs merge=lfs -text
input_data.csv filter=lfs diff=lfs merge=lfs -text
output_encoding filter=lfs diff=lfs merge=lfs -text
wt.txt filter=lfs diff=lfs merge=lfs -text
AAindex.exe filter=lfs diff=lfs merge=lfs -text
